:root {
    --width: 870px;

    /* fonts */
    --roboto: 'Roboto', 'Arial';

    --font-smooth: {
        font-smoothing: antialiased;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    };

    --transition: {
        transition: all 0.3s ease;
    };
}